/* 
    Author: Brenden Riley
    Date: 1.16.19

    filename: mc_styles.css
*/

/* The entire page has a blue background */
html {
    background-color: aliceblue;
}

/* The 'Order Form' at the top of the page is a larger font, centerd, and underlined */
h1 {
    font-size: 3.5em;
    text-align: center;
    text-decoration: underline;
}

/* The text below the h1 is centered */
p {
    text-align: center;
}

/* The logo goes across the page */
img#logo {
    width: 100%;
}