/* 
    Author: Brenden Riley
    Date: 1.16.19

    filename: mc_styles.css
*/

html {
    background-color: aliceblue;
}

header {
    background: url(mc_logo.png) right no-repeat;
    background-size: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 150px;
    flex: 1 1 150px;
    height: 100px;
}

nav {
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: center;
}